.mantine-AppShell-header {
  border-bottom: 0;
}

.custom-nav-bar {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;
  transform: translateX(calc(var(--app-shell-navbar-width) * 1));
}
.active-custom-nav-bar {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;
  min-width: 350px;
  border-left: 1px solid #ddd;
  border-inline-end: 0;
  transform: inherit;

  .mantine-ScrollArea-root {
    margin-block: 0 !important;
    margin: 0;
  }
}
.mantine-AppShell-root {
  .active-custom-main {
    padding-inline-end: calc(
      var(--app-shell-navbar-offset, 0rem) + var(--app-shell-padding)
    );
    padding-inline-start: calc(
      var(--app-shell-aside-offset, 0rem) + var(--app-shell-padding)
    );
    padding-right: 350px;
  }
}

.header {
  height: 70px;
  margin-bottom: 0;
  background-color: var(--mantine-color-body);
  border-bottom: 0;
  box-shadow: 0px 1px 4px 0px rgba(24, 26, 32, 0.07);
  // border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

  .inner {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .link {
    background-color: transparent !important;
    color: #000 !important;

    &:hover {
      color: #f30051 !important;
    }
  }
  .link[data-active] {
    background-color: transparent !important;
    color: #f30051 !important;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: 5px 8px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-size: 14px;
  font-weight: 600;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.add_request_btn {
  box-shadow: var(--mantine-shadow-lg);
  border-radius: 50px;
  color: #fff;
  margin-left: 10px;

  .icon-container {
    background-color: #fff;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    svg {
      color: #f30051;
      transform: rotate(45deg);
    }
  }
}

.right_toggle_sec {
  display: flex;
  align-items: center;

  .mantine-Group-root {
    margin-right: 0px;
  }

  button {
    // padding: 0px 7px 0px 13px !important;
    font-size: 13px !important;
    height: 42px !important;
    // &:hover {
    //   color: #f30051;
    // }
  }
  .nav_toggle_btn {
    padding-inline-end: 0 !important;
    width: 35px;
  }
}

.mantine_menu_right {
  .user_profile {
    width: 100%;
    .profile_border {
      position: relative;
      // bottom: -20px;
      margin-top: 20px;
    }

    button {
      position: absolute;
      background: #ccc;
      top: 35px;
      right: 15px;
      width: 28px !important;
      height: 28px;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition: all ease 1s;
      transition: all ease 1s;
      border-radius: 50%;
      display: grid;
      place-items: center;
      min-width: 28px;
      ::after {
        background-color: #f30051;
      }
      ::before {
        background-color: #f30051;
      }
      &:hover {
        -webkit-transform: scale(1.09);
        transform: scale(1.09);
        -webkit-transition: all ease 1s;
        transition: all ease 1s;
      }
    }

    .mantine-Avatar-root {
      width: 65px;
      height: 65px;
      // border: 2px solid #f30051;
    }
    .mantine-focus-auto {
      width: 100%;
    }
    p {
      font-size: 15px;
      font-weight: 400;
      color: #5c5a5a;
      display: flex;
      align-items: center;
      img {
        margin-left: 5px;
        top: -3px;
        position: relative;
      }
    }
    p.name_text {
      font-size: 16px;
      line-height: 14px;
      font-weight: 600;
      color: #181a20;
    }
  }

  .subscription_expire_date p {
    font-size: var(--mantine-font-size-xs);
    line-height: var(--mantine-line-height-xs);
  }

  .mantine-Menu-item {
    width: 100%;
    padding: 15px 22px;
    font-size: 18px;
    font-weight: 500;

    .tabler-icon {
      color: #f30051;
    }
  }

  .alerts_whatsapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 18px;
    font-size: 14px;
    font-weight: 600;
    color: #181a20;

    .header_switch {
      border-radius: 8px;
      padding: 6px 12px;
      border: 1px solid #181a20;

      .active_track_switch {
        background: #4a4b50;
        border: #3d3d40;
        color: #99e279;
        font-size: 12px;
        font-weight: 500;
        height: 22px;
        overflow: visible;

        span {
          margin-left: 0px;
          margin-right: -26px;
        }

        .active_thumb_switch {
          background: #676773;
          border: 1px solid #464548;
          position: relative;
          left: 45px;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            width: 14px;
            min-width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #99e279;
          }
        }
      }

      .inactive_track_swtich {
        background: #4a4b50;
        border: #3d3d40;
        color: #df728f;
        font-size: 12px;
        font-weight: 500;
        height: 22px;
        overflow: visible;

        span {
          margin: 0;
        }

        .inactive_thumb_swtich {
          background: #676773;
          border: 1px solid #464548;
          position: relative;
          left: 0;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: 6px;
            width: 14px;
            min-width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #df728f;
          }
        }
      }
    }

    span {
      display: flex;
      align-items: center;

      .tabler-icon {
        color: #f30051;
        margin-right: 10px;
        min-width: 26px;
        max-width: 26px;
      }
    }
  }

  .menu_inner_btm {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    background: #f30051;
    padding: 15px 20px 10px 20px !important;
    flex-wrap: wrap;

    .mantine-Grid-inner {
      border-bottom: 1px solid #fff;
      padding-bottom: 10px;
      .mantine-Grid-col {
        padding: 5px 0;
      }

      .mantine-Grid-col {
        span {
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;
          color: #dfdfdf;
          display: inline-flex;
          width: 100%;
          margin-bottom: 0px;
        }
        a {
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          word-wrap: break-word;
          word-break: break-word;
        }
      }
    }

    .menu_inner_side {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 2rem 15px 10px 0px;

      h4 {
        color: #fff;
        margin-right: 10%;
      }
      .tabler-icon {
        color: #fff;
      }
    }
  }
}

.links_port_list {
  // height: calc(100vh - 400px);
  overflow: auto;
  // transform: translate(0px, 15px);
  display: flex;
  flex-direction: column;
  height: 100%;
  li {
    margin: 10px 0px;
    width: 100%;
    a {
      padding: 0px 20px;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      border-radius: 0;
    }
    .mantine-Button-label {
      color: #181a20;
    }
    .mantine-Button-section {
      max-width: 25px;
      min-width: 25px;
    }
  }
  disabled {
    background-color: #99e279;
  }
}

// responsive mobile view css here ---->

@media (max-width: (1199px)) {
  .mantine-AppShell-root {
    .active-custom-main {
      padding-right: 270px;
    }
  }
  .active-custom-nav-bar {
    min-width: 270px;
    max-width: 270px;
  }
  .menu_inner_btm {
    .menu_inner_side {
      padding: 1rem 0px 0px 0px !important;
      h4 {
        margin-right: 0% !important;
        font-size: 14px !important;
      }
    }
    .mantine-Grid-inner {
      .mantine-Grid-col {
        a {
          font-size: 13px !important;
        }
        span {
          font-size: 12px !important;
        }
      }
    }
  }

  .mantine_menu_right {
    .mantine-Group-root {
      gap: 0;
    }
    .user_profile {
      padding: 20px 10px 10px 10px !important;
      button {
        top: 25px;
      }
      p {
        font-size: 12px;
      }
      p.name_text {
        font-size: 13px;
      }
      .mantine-Avatar-root {
        width: 42px;
        height: 42px;
        border: 2px solid #f30051;
        min-width: 42px;
        margin-right: 10px;
      }
    }

    .subscription_expire_date p {
      font-size: 0.65rem;
      line-height: 0.65rem;
    }

    .alerts_whatsapp {
      padding: 0px 10px;
      font-size: 12px;
      font-weight: 600;
      span {
        .tabler-icon {
          min-width: 22px;
          max-width: 20px;
        }
      }
    }
    .links_port_list {
      li {
        margin: 5px 0;
        .mantine-Button-label {
          color: #181a20;
          font-size: 12px;
          font-weight: 600;
        }
        .mantine-Button-section {
          max-width: 22px;
          min-width: 20px;
        }
      }
    }
  }

  .links_port_list {
    li {
      a {
        padding: 0px 10px;
      }
    }
  }

  .links_port_list {
    // padding: 1rem 0 0;
  }
}

@media (max-width: (1024px)) {
  .mantine-AppShell-root {
    .active-custom-main {
      padding-right: 250px;
    }
  }
  .active-custom-nav-bar {
    min-width: 250px;
    max-width: 250px;
  }
}

@media (max-width: (991px)) {
  .header {
    .link {
      padding: 5px 3px;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .right_toggle_sec {
    .right_toggle_sec_auth {
      display: none;
    }
    button {
      padding: 0;
      font-size: 12px;
      font-weight: 500;
      .mantine-Button-section {
        padding: 0;
        margin: 0 5px 0 0;
      }
    }
  }
}

@media (max-width: (767px)) {
  .navbar_mobile_menu {
    button {
      padding: 0;
      width: 30px;
      height: 28px;
      border-radius: 8px;
      z-index: 1;
    }
  }

  header {
    .right_toggle_sec {
      // .nav_toggle_btn {
      //   position: relative;
      //   z-index: 0;
      //   &::after {
      //     content: '';
      //     position: absolute;
      //     top: 1px;
      //     left: 4px;
      //     height: 26px;
      //     width: 0.5px;
      //     background: #000000;
      //   }
      // }
    }
  }
  .navbar_mobile_menu_dropdown {
    width: 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    min-height: auto !important;
    background: #fff;
    .link {
      padding: 10px 10px;
      font-size: 14px;
      font-weight: 500;
    }
    .link[data-active] {
      background-color: #f30051;
    }
  }

  .navbar_mobile_menu {
    position: absolute;
    top: 20px;
    right: 14px;
    display: none;
  }
  // figure.mobile_logo {
  //   width: 40px;
  //   height: 35px;
  //   overflow: hidden;
  //   img {
  //     object-position: left;
  //   }
  // }

  .mantine-AppShell-root {
    .active-custom-main {
      padding-right: 0;
    }
  }
}

@media (max-width: (479px)) {
  .navbar_mobile_menu_dropdown {
    width: 250px !important;
    max-width: 250px !important;
    min-width: 250px !important;
    min-height: auto !important;
    background: #fff;
  }

  .add_request_btn {
    height: 42px !important;
    width: 42px !important;
    border-radius: 50%;
  }

  .right_toggle_sec .add_request_btn_mobile {
    height: 32px !important;
    width: 32px !important;
    border-radius: 50%;
  }
}
