
.thankyou_modal_sr{
    .mantine-Modal-content{
        background-image: url('../../../assets/images/bg_thanks.png');
        background-size: 100%;
        max-width: 560px;
        min-width: 560px;
        text-align: center;
        border-radius: 30px;
    }

    .thankyou_page{
        padding: 0 10%;
        margin-bottom: 10px;

        img{
            margin: auto;
            max-width: 60%;
        }
        h4{
            font-size: 28px;
            font-weight: 600;
            line-height: 32px;
            text-align: center;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            color: #000;
            margin-bottom: 2rem;
        }
        button{
            min-width: 200px;
        }
    }
}

// responsive mobile view css here ---->

@media (max-width:(991px)) {
    .thankyou_modal_sr {
        .thankyou_page{ 
            img {
            margin: auto;
            max-width: 50%;
           }
           h4 {
                font-size: 24px;
                line-height: 28px;
            }
        }
    }
}


@media (max-width:(768px)) {
    .thankyou_modal_sr {
        .mantine-Modal-content {
            background-size: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
}

@media (max-width:(479px)) {
    .thankyou_modal_sr {
        .thankyou_page {
            padding: 0 0%;
            img {
                max-width: 60%;
            }
            h4 {
                font-size: 20px;
                line-height: 24px;
            }
            p {
                margin-bottom: 1rem;
                line-height: 18px;
            }
        }
    }
}