/node_modules
/dist
/.env
.DS_Store
/logs
*.log
/coverage
/.vscode
.idea/
*.iml
/build
/tmp
/.cache
/.parcel-cache
/.next
/out
/.nuxt
/.expo
/.firebase
/.vercel
/.serverless
/.turbo
/.pnp
/.yarn/cache
/.yarn/unplugged
/.yarn/build-state.yml
/.yarn/install-state.gz
/.yarn/patches
/.yarn/releases
/.yarn/plugins
/.yarn/sdks
/.yarn/versions
/.yarnrc.yml
/.vscode-test
/.history
/.idea
*.jpg
*.png
*.gif
*.svg
*.zip
*.tar.gz
*.exe
*.dll
*.class
*.pyc
*.pyo
*.pyd
__pycache__/
*.db