
.limite_modal_custom{
  .mantine-Modal-content {
    border-radius: 26px;
    min-width: 520px;
    width: 520px;
  }
  .mantine-Modal-body {
    padding: 0;
  }
}
.inner_info_modal{
    text-align: center;
    border-width: 15px 5px 5px 5px;
    border-style: solid;
    border-color: #2ABFFF;
    border-radius: 26px;
    padding: 10px;
    h2 {
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: 600;
        align-items: center;
        border-bottom: 2px solid #CBE6F2;
        padding-bottom: 16px;
        margin-bottom: 16px;
        svg.tabler-icon {
            color: #2ABFFF;
            width: 40px;
            height: 40px;
            margin-right: 7px;
        }
    }   
    p {
        font-size: 16px;
        font-weight: 500;
        color: #6B7C84;
    }

    .inner_info_modal_btns{
        padding-top: 2rem;
        button{
            text-transform: uppercase;
        }
        .btn_cancel{
            background: #fff;
            color: #000;
            font-size: 17px;
            font-weight: 500;
            margin-right: 1rem;
            svg{
                display: none;
            }
        }
    }
}


// responsive mobile view css here ---->

@media (max-width:(767px)) {
    .limite_modal_custom {
        .mantine-Modal-content {
            border-radius: 26px;
            min-width: 80%;
            width: 80%;
            margin: auto;
        }
    }
}

@media (max-width:(479px)) {
    .inner_info_modal{
        padding: 15px;
         h2 {
            font-size: 16px;
            padding-bottom: 12px;
            margin-bottom: 12px;
            svg.tabler-icon {
                color: #2ABFFF;
                width: 34px;
                height: 34px;
                margin-right: 5px;
            }
        }
        p {
            font-size: 14px;
        }
    }
}