.landlord_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF4F8;
    h3{
        color: #F30051;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    h4{
        color: #2C2C2C;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
    }
}
// @media mobile responsive ----//
@media (max-width:(1139px)) {
    .landlord_card_container {
            h3 {
                font-size: 14px;
            }
            h4 {
                font-size: 12px;
               
            }
        }
}
