.comman_form_detail_left {
    h1 {
    max-width: 330px !important;
   }
}
.verify_card_sc {
    .verification_faild_msg{
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        color: #000;
        margin-bottom: 3rem;
    }
    .otp_sent_num {
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-bottom: 3rem;

        h5 {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: #000;
        }
        h6 {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #717171;
            span {
                text-decoration: underline;
            }
        }
    }

    .input_ui_otp {
        justify-content: center;
        margin-bottom: 3rem;

        .mantine-PinInput-wrapper {
            width: 72px;
            height: 72px;
        }
        input {
            border: 1px solid #717171;
            border-radius: 15px;
            font-size: 32px;
            color: #181a20;
            width: 72px;
            height: 72px;
            margin: 0;
        }
        ::placeholder {
            left: 46%;
            top: 40%;
            position: absolute;
        }
    }

    .otp_sent_seccond {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 20px;

        h6 {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: #717171;
            width: 100%;

            strong {
                font-weight: 700;
                display: inline-block;
            }
            a{
                color: #717171;
                font-weight: 700;
                margin-right: 5px;
            }
        }
    }
}



// responsive mobile view css here ---->

@media (max-width:(479px)) {

    .verify_card_sc {
        .input_ui_otp{ 
        input {
            border-radius: 10px;
            font-size: 25px;
            width: 60px;
            height: 60px;
            }
        }

        .input_ui_otp{
            .mantine-PinInput-wrapper {
                width: 60px;
                height: 60px;
            }
            margin-bottom: 1.5rem;
        }
        .verification_faild_msg {
            font-size: 13px;
            margin-bottom: 1rem;
            line-height: 18px;
        }
        .otp_sent_num {
            margin-bottom: 2rem;
            h5 {
                font-size: 15px !important;
                line-height: 16px;
            }
        }
       
    } 


}