.async-custom-select {
  .custom-select__placeholder {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    resize: var(--input-resize, none);
    display: block;
    width: 100%;
    transition: border-color 100ms ease;
    text-align: var(--input-text-align);
    color: #717171;
    border: calc(0.0625rem * var(--mantine-scale)) solid var(--input-bd);
    background-color: var(--input-bg);
    font-family: var(--input-font-family, var(--mantine-font-family));
    height: var(--input-size);
    min-height: var(--input-height);
    line-height: var(--input-line-height);
    font-size: var(--input-fz, var(--input-fz, var(--mantine-font-size-sm)));
    border-radius: var(--input-radius);
    padding-inline-start: var(--input-padding-inline-start);
    padding-inline-end: var(--input-padding-inline-end);
    padding-top: var(--input-padding-y, 0rem);
    padding-bottom: var(--input-padding-y, 0rem);
    cursor: var(--input-cursor);
    overflow: var(--input-overflow);
    font-size: 12px;
    font-weight: 400;
  }
  :focus-visible {
    outline: none !important;
  }

  .custom-select__option {
    font-size: var(--combobox-option-fz, var(--mantine-font-size-sm));
    border-radius: var(--mantine-radius-default);
    cursor: pointer;
    word-break: break-word;
  }

  .custom-select__control--menu-is-open {
    box-shadow: none;
  }

  .custom-select__input {
    font-size: var(
      --input-fz,
      var(--input-fz, var(--mantine-font-size-sm))
    ) !important;
  }

  .custom-select__single-value {
    font-size: var(--input-fz, var(--input-fz, var(--mantine-font-size-sm)));
  }

  .custom-select__control--is-focused {
    box-shadow: none;
  }

  // Error state
  &.has-error {
    .custom-select__control {
      // border-color: red !important; // Highlight border in red
    }

    .custom-select__placeholder {
      // color: red !important; // Make placeholder red when there's an error
    }
  }

  // .custom-select__menu {
  //   position: relative !important;
  // }
}
// Error message
.custom-label-text {
  display: inline-block;
  font-weight: 500;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  font-size: var(--input-label-size, var(--mantine-font-size-sm));
}
.custom-select__error-text {
  margin-top: 5px;
  color: var(--mantine-color-error);
  font-size: var(
    --input-error-size,
    calc(var(--mantine-font-size-sm) - calc(0.125rem * var(--mantine-scale)))
  );
}

.custom-select__value-container--has-value {
  max-height: 100px;
  overflow-y: auto !important;
  // padding: 10px 10px;
}
.css-hlgwow {
  padding: 0px 8px !important;
}

.css-t3ipsp-control {
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  height: 36.5px !important;
  min-height: 36.5px !important;
}
.css-13cymwt-control {
  border: 1px solid #ddd !important;
  border-radius: 5px !important;
  height: 36.5px !important;
  min-height: 36.5px !important;
}
.css-1u9des2-indicatorSeparator {
  width: 0px !important;
}
