.paymentmethod_modal_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal_head_close {
        border-bottom: 0;

    }

    .mantine-Paper-root {
        width:62%;
        max-width:62%;
        min-width:62%;
        border-radius: 28px;
        box-shadow: 0px 11px 27px 0px rgba(0, 0, 0, 0.4);
        border: 1.5px solid #3F0216;
        padding: 10px;
   }
   .pay_edits_bg{
        background: #F30051;
        border-radius: 12px;
        padding: 10px;
        max-width: 390px;
        margin: auto;
        text-align: center;
        width: 100%;
        h4{
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            margin-bottom: 10px;
        }

        a{
            font-size: 14px;
            font-weight: 400;
            line-height: 25.9px;
            color: #fff;
            text-decoration: underline;
        }

        .plans_range {
            padding: 0;
            h5 {
                font-size: 18px;
                font-weight: 600;
                line-height: 30px;
                color: #fff;
            }
            h1 {
                font-size: 32px;
                font-weight: 700;
                line-height: 36px;
                color: #fff;
                span {
                    font-size: 15px;
                    font-weight: 300;
                    color: #fff;
                    position: relative;
                    top: -15px;
                    left: 10px;
                }
            }
            h6 {
                font-size: 12px;
                font-weight: 500;
                color: #fff;
                margin-bottom: 1rem;
            }
        }
   }

}

.card_detaile{
    max-width: 530px;
    margin: auto;
    button {
        margin: auto;
        min-width: 200px;
        display: grid;
    }
    ul{
        padding: 2rem 0;
        li{
            padding: 15px 0;
            h6{
                font-size: 14px;
                font-weight: 600;
                color: #181A20;
                margin-bottom: 5px;
            }
            p{
                font-size: 10px;
                font-weight: 400;
                color: #181A20;
            }
            .card_nb_flex{
                margin-top: 6px;
                flex-wrap: nowrap;
                justify-content: space-between;

                input{
                    text-align: center;
                }
                span{
                    border: 1px solid #ddd;
                    height: 35px;
                    width: 60px;
                    min-width: 60px;
                    max-width: 60px;
                    border-radius: 5px;
                    display: grid;
                    place-items: center;
                }
            }
        }
        .row_inputs_crd {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            .expiry_input {
                display: flex;
                align-items: center;
            }
            span{
                display: inline-block;
                margin: 0 10px;
                color: #000;
                font-weight: 600;
            }
            input{
                max-width: 55px;
                text-align: center;
            }
        }
    }
}


// responsive mobile view css here ---->

@media (max-width:(991px)) {
    .paymentmethod_modal_card{ 
    .mantine-Paper-root {
        width: 72%;
        max-width: 72%;
        min-width: 72%;
      }
    }

    .card_detaile ul {
        padding: 0.4rem 0 0 0;
    }
}

@media (max-width:(767px)) {
    .paymentmethod_modal_card{ 
        .mantine-Modal-body{
           padding: 0;
        }

        .mantine-Paper-root {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
        .pay_edits_bg {
            h4 {
                font-size: 16px;
                margin-bottom: 5px;
           }
           .plans_range {
            h1 {
                font-size: 24px;
                line-height: 30px;
                    span {
                        font-size: 14px;
                        top: -14px;
                    }
                }
                h6 {
                    font-size: 10px;
                    margin-bottom: 0rem;
                }
            }
        }
        .modal_head_close {
            transform: translate(2px, 0px);
        }
        .cenetr_back .back_btn {
            top: 5px;
            left: 10px;
        }
    }

    .card_detaile {
        ul{
            padding: 0.4rem 0 10px 0;
          li{
              padding: 5px 0;
              h6 {
                    font-size: 13px;
                    margin-bottom: 2px;
                }
                .card_nb_flex{
                    gap: 0 6px;
                     input {
                    text-align: center;
                    padding: 5px;
                    font-size: 13px;
                    }
                }
            }
        }
        button {
            min-width: 160px;
        }
    }
}