.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 30px;
  width: 100%;
}

.profile-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.card_profile .info {
  display: flex;
  flex-direction: column;
}

.card_profile .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card_profile .role {
  display: inline-block;
  background-color: #f30051;
  color: #ffff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
}

.location,
.email,
.phone {
  font-size: 15px;
  color: #464e5f;
  /* margin: 3px 5px; */
  font-weight: 600;
}

.card_profile .stats {
  /* display: flex; */
  /* gap: 30px; */
  justify-content: right;
}

.card_profile .stat {
  text-align: left;
  border: 2px dotted #e4e6ef;
  padding: 10px 20px;
  border-radius: 5px;
}

.stat-number {
  font-size: 25px;
  font-weight: 900;
  color: #000;
  margin-bottom: 10px;
}

.card_profile .stat-label {
  font-size: 15px;
  color: #464e5f;
  font-weight: 600;
}

.profile_info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container_profile {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.card_profile_form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 49%;
}

.card_profile_form h3 {
  color: #e91e63;
  margin-bottom: 15px;
  font-size: 18px;
}

.card_profile_form .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.card_profile_form .form-control {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.card_profile_form .form-control label {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 14px;
}

.card_profile_form .form-control label span {
  color: #e91e63;
}

.card_profile_form .form-control input,
.form-control select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card_profile_form .btn-reset {
  background-color: #fdd6dd;
  border: none;
  color: #e91e63;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}

.card_profile_form .btn-reset:hover {
  background-color: #e91e63;
  color: white;
}

.card_profile_form .toggle-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.card_profile_form .toggle-group input[type="radio"] {
  display: none;
}

.card_profile_form .toggle-group label {
  cursor: pointer;
  font-weight: bold;
  color: #aaa;
}

.card_profile_form .toggle-group input:checked + label {
  color: #e91e63;
}

.card_profile_form .time-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_flex {
  display: flex;
  align-items: center;
  flex-direction: row !important;
}

.switch_flex .switch_text {
  margin-right: 10px;
}

.switch_flex .switch {
  margin: 0 10px 0 0px !important;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #e91e63;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e91e63;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fa_dash {
  color: #adb2ca !important;
}

.info-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.info-label {
  font-weight: bold;
  color: #555;
  flex: 1;
}

.info-value {
  text-align: right;
  color: #333;
  flex: 1;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.template-demo {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .container_profile {
    flex-direction: column;
  }

  .card_profile_form {
    width: 100%;
  }

  .stats {
    flex-wrap: wrap;
  }

  .stat {
    margin-bottom: 10px;
    flex: 1 1 100%;
  }
}
