.title_for_product {
  // font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
  position: relative;
  display: inline-flex;
  padding-bottom: 10px;
  font-size: var(--mantine-font-size-lg);
  line-height: var(--mantine-line-height-lg);
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 12px;
    background: #f30051;
  }
}
.title_icon_for_other_facilities {
  display: flex;
  margin-bottom: 12px;
  align-items: center;

  figure {
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  .title_for_other_facilities {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    position: relative;
    display: inline-flex;
    padding-bottom: 5px;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 12px;
      background: #f30051;
    }
  }
}

.product_detail_sec {
  padding: 5rem 0 2rem 0;
  min-height: calc(100vh - 50px);
  // background: #fff7f7;
  // background: #fff;

  .list-style-feature {
    list-style: disc;
    margin-left: 60px;
    color: #717171;
  }

  .box-container-card {
    // box-shadow: 0px 15px 25px 0px #00000005;
    border: 1.5px solid #e3e3e3;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .agent_info_card_container {
    position: sticky;
    top: 0; /* Sticks Section 2 to the top of its container */
    height: 100%; /* Takes up the full height of the container */
    overflow-y: scroll; /* Makes Section 2 scrollable */
  }

  .title_for_product_container {
    padding: 14px 10px;
    margin-top: 15px;
  }
  .rent_head_card {
    // background: linear-gradient(180deg, #ffeaec 0%, #f8c8cd 100%);
    // border: 1px solid #ff76a4;

    display: flex;
    align-items: center;
    justify-content: space-between;
    .rent_title_col_1 {
      padding-right: 10px;
      h5 {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
        span {
          display: inline-block;
          background: #ffc4d8;
          height: 34px;
          line-height: 34px;
          font-size: 15px;
          font-weight: 500;
          color: #f30051;
          border-radius: 10px;
          padding: 0px 12px;
          margin-left: 2rem;
          white-space: nowrap;
        }
      }
      p {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        color: #7d7d7d;
        img {
          max-width: 24px;
          margin-right: 10px;
        }
      }
    }
    .rent_title_col_2 {
      h4 {
        font-size: 26px;
        font-weight: 700;
        color: #f30051;
        line-height: 36px;
        span {
          display: block;
          font-size: 16px;
          font-weight: 500;
          color: #8e7575;
          text-align: right;
        }
      }
    }
  }
}

.product_detail_sec {
  .slick-dots {
    bottom: 0;
    display: grid !important;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(5, 1fr); /* 5 columns, equal width */
    grid-gap: 10px;
    max-height: 250px;
    overflow: auto;
    position: relative;
    li {
      width: auto;
      height: 100px;
      margin: 0;
      padding: 0;
    }
  }
  .slick-slider {
    .slick-prev:before,
    .slick-next:before {
      font-size: 32px;
      color: #f30051;
    }
    .slick-prev {
      left: 10px;
      z-index: 1;
    }
    .slick-next {
      right: 20px;
    }
    .slick-prev,
    .slick-next {
      top: 32%;
      width: 30px;
      height: 30px;
    }
    .slick-slide img {
      border-radius: 8px;
      object-fit: cover;
    }
    .slick-list {
      border-radius: 8px;
    }
  }

  /* Mobile (up to 600px) */
  @media (max-width: 600px) {
    .slick-dots {
      grid-template-columns: repeat(2, 1fr); /* 1 column, stacked */
      max-height: 250px !important; /* Allow more height for scrolling */
    }
  }

  /* Tablet (601px to 1024px) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .slick-dots {
      grid-template-columns: repeat(4, 1fr) !important; /* 3 columns */
    }
  }

  /* Desktop (1025px and up) */
  @media (min-width: 1025px) {
    .slick-dots {
      grid-template-columns: repeat(
        5,
        1fr
      ); /* 5 columns, already the default */
    }
  }
}

.productslider_box {
  // box-shadow: 0px 4px 9px 4px #00000040;
  background: #fff;
  padding: 14px;
}

.agent_info_card {
  // background: #ffeaec;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  .agent_info_head {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #aeaeae;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    figure {
      width: 44px;
      min-width: 44px;
      height: 44px;
      background: #ffced3;
      border-radius: 50%;
      margin: 0 15px 0 0;
      display: grid;
      place-items: center;
    }
    text {
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 0;
    }
  }
  .agent_profile {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 15px;
    figure {
      width: 80px;
      min-width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 2px solid #e9e9e9;
      margin: 0 18px 0 0;
      overflow: hidden;
      // object-fit: cover;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
    figcaption {
      h4 {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        margin-bottom: 0;
      }
      h5 {
        font-size: 16px;
        font-weight: 400;
        color: #7d7d7d;
        margin-bottom: 0;
      }
    }
  }
  .agent_profile_detail {
    margin-bottom: 15px;
    h6 {
      font-size: 18px;
      font-weight: 600;
      color: #000;
      margin-bottom: 0;
      // border-bottom: 1px solid #f30051;
      width: max-content;
    }
    text {
      font-size: 16px;
      font-weight: 400;
      color: #000;
      margin: 15px 0;
      line-height: 22px;
      display: block;
    }
    button {
      width: 100%;
      border-radius: 20px;
      font-weight: 400;
      font-size: 14px;
    }
  }
  .agent_inquery_form {
    border-top: 1px solid #6c6c6c;
    padding: 15px 0 0 0;
    // margin: 15px 0 0 0;
    width: 100%;
    .agent_info_head {
      display: flex;
      align-items: center;
      border-bottom: 0;
      padding: 0 0 5px 0;
      margin: 0 0 10px 0;
    }
    fieldset {
      padding: 0;
      background: transparent;
      border: none;
      input {
        height: 52px;
        margin-bottom: 15px;
        border: 1px solid #e3e3e3;
        font-size: 16px;
      }
      textarea {
        height: 120px;
        margin-bottom: 15px;
        border: 1px solid #e3e3e3;
        font-size: 16px;
      }
      button {
        width: 100%;
      }
    }
  }
}

.property_outer_main {
  .mantine-Card-root {
    // box-shadow: 0px 0px 29px -1px #00000040;
    margin: 2rem 0;
    background: #fff;
  }

  .card_first_property {
    .title_for_product {
      width: fit-content;
    }
    .property_size {
      display: flex;
      align-items: center;
      padding-bottom: 2.5rem;
      li {
        padding: 0 30px 0 0;
        flex: 1;
        .mantine-List-itemLabel {
          display: flex;
          align-items: center;
          strong {
            font-size: 16px;
            font-weight: 600;
            color: #000;
            margin-right: 10px;
            white-space: nowrap;
          }
          span {
            font-size: 16px;
            font-weight: 500;
            color: #7d7d7d;
          }
          .d-flex {
            padding-right: 20px;
          }
        }
      }
    }
    .facilities_info_list {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1.1em;
      .mantine-List-itemLabel {
        display: flex;
        figure {
          width: 45px;
          min-width: 45px;
          height: 45px;
          margin: 0 10px 0 0;
          img {
            object-fit: contain;
            object-position: left center;
          }
        }
      }
      .PropertyService_text {
        h6 {
          font-size: 12px;
          color: #717171;
          font-weight: 400;
          line-height: 12px;
          margin-bottom: 5px;
        }
        h5 {
          font-size: 14px;
          color: #000;
          font-weight: 600;
        }
      }
    }

    .facilities_otr_card {
      .title_for_product {
        // font-size: 20px;
        font-weight: 600;
      }
      .facilities_otr_list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1.9em;
        p {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: #000;
          font-weight: 500;
          line-height: 18px;
          img {
            margin-right: 8px;
            max-width: 20px;
          }
        }
      }
    }
    .mantine-Select-section {
      background: #ffa9a9;
    }
  }
  .card_first_description {
    .title_for_product {
      max-width: fit-content;
    }
    .describ_product {
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: #7d7d7d;
      margin-bottom: 1rem;
    }
  }
}

.agent_overview {
  margin-top: 1rem;
  figure {
    width: 100%;
    height: 130px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 0 15px 0;
    background: #fff;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  text {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
}
.other_facilities_item_container {
  display: flex;
  flex-wrap: wrap;
  // background-color: #e73445;
  // height: 100px;
  align-items: center;
  figure {
    width: 30px;
    min-width: 30px;
    height: 40px;
    margin: 0 10px 0 0;
    img {
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  strong {
    margin-right: 5px;
  }
  span {
    margin-right: 5px;
    color: #7d7d7d;
  }
}

// responsive mobile view css here ---->
@media (max-width: (1300px)) {
  .active-custom-main {
    .product_detail_sec {
      .mantine-Grid-col {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}

@media (max-width: (1199px)) {
  .title_for_product {
    // font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    &::after {
      height: 2px;
    }
  }
  .product_detail_sec {
    .title_for_product_container {
      padding: 15px 10px;
      margin-top: 15px;
    }
    .rent_head_card {
      .rent_title_col_1 {
        text {
          font-size: 18px;
          margin-bottom: 10px;
          span {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            border-radius: 6px;
            padding: 0px 10px;
          }
        }
        p {
          font-size: 14px;
          img {
            max-width: 22px;
            margin-right: 10px;
          }
        }
      }
      .rent_title_col_2 {
        h4 {
          font-size: 26px;
          line-height: 26px;
          span {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
    .slick-dots {
      max-height: 190px;
    }
  }

  .agent_info_card {
    .agent_info_head {
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      text {
        font-size: 15px;
      }
    }
    .agent_profile {
      padding-bottom: 20px;
      figure {
        width: 60px;
        min-width: 60px;
        height: 60px;
        margin: 0 14px 0 0;
      }
      figcaption {
        h4 {
          font-size: 15px;
        }
        h5 {
          font-size: 14px;
        }
      }
    }
    .agent_profile_detail {
      h6 {
        font-size: 16px;
      }
      text {
        font-size: 14px;
        margin: 11px 0;
        line-height: 20px;
      }
    }
    .agent_inquery_form {
      fieldset {
        input {
          height: 42px;
          margin-bottom: 10px;
          border: 1px solid #e3e3e3;
          font-size: 14px;
        }
        textarea {
          height: 95px;
          margin-bottom: 10px;
          font-size: 14px;
        }
      }
    }
  }

  .property_outer_main {
    .card_first_property {
      .facilities_otr_card {
        .title_for_product {
          // font-size: 15px;
        }
        .facilities_otr_list {
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 1em;
          p {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

    .card_first_description {
      .describ_product {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: (991px)) {
  .product_detail_sec {
    // .agent_info_card_container {
    //   position: relative;
    // }
    // .mantine-Grid-col {
    //   flex-basis: 100%;
    //   max-width: 100%;
    // }
    .property_outer_main {
      .card_first_property {
        .facilities_info_list {
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 1em;
        }
      }
    }
  }
}

@media (max-width: (767px)) {
  .product_detail_sec {
    .agent_info_card_container {
      position: relative;
    }
    .rent_head_card {
      .rent_title_col_1 {
        text {
          font-size: 15px;
          margin-bottom: 10px;
          span {
            height: 26px;
            line-height: 26px;
            font-size: 10px;
            border-radius: 6px;
            padding: 0px 10px;
          }
        }
        p {
          font-size: 12px;
          img {
            max-width: 16px;
            margin-right: 4px;
          }
        }
      }
      .rent_title_col_2 {
        h4 {
          font-size: 20px;
          line-height: 22px;
          span {
            font-size: 12px;
          }
        }
      }
    }
    .mantine-Grid-col {
      flex-basis: 100%;
      max-width: 100%;
    }
    .property_outer_main {
      .card_first_property {
        .facilities_info_list {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 0.5rem;
          margin-bottom: 1rem;
          .PropertyService_text {
            h5 {
              font-size: 13px;
              line-height: 14px;
            }
          }
          .mantine-List-itemLabel {
            figure {
              width: 35px;
              min-width: 35px;
              height: 35px;
              margin: 0 10px 0 0;
            }
          }
        }
        .property_size {
          flex-wrap: wrap;
          justify-content: space-between;
        }

        .facilities_otr_card {
          .facilities_otr_list {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 0.5rem;
          }
        }
      }
    }

    .slick-slider {
      .slick-prev:before,
      .slick-next:before {
        font-size: 22px;
        color: #f30051;
      }
      .slick-prev {
        left: 0px;
        z-index: 1;
      }
      .slick-next {
        right: 0px;
      }
      .slick-prev,
      .slick-next {
        top: 32%;
        width: 22px;
        height: 22px;
      }
      .slick-slide img {
        border-radius: 8px;
      }
      .slick-list {
        border-radius: 8px;
      }
    }
  }
  .productslider_box {
    padding: 15px;
  }
}

@media (max-width: (479px)) {
  .product_detail_sec {
    .agent_info_card_container {
      position: relative;
    }
    .slick-dots {
      max-height: 100px;
    }
    .rent_head_card {
      flex-wrap: wrap;
      width: 100%;
      .rent_title_col_1 {
        padding-right: 0;
        width: 100%;
        padding-bottom: 10px;
        text {
          font-size: 13px;
          line-height: 16px;
          font-weight: 600;
          margin-bottom: 5px;
          span {
            height: 22px;
            line-height: 22px;
            font-size: 8px;
            border-radius: 6px;
            padding: 0px 6px;
            white-space: nowrap;
            margin-left: 5px;
          }
        }
        p {
          font-size: 10px;
          line-height: 14px;
        }
      }
      .rent_title_col_2 {
        width: 100%;
        text-align: center;
        h4 {
          font-size: 18px;
          line-height: 20px;
          display: flex;
          justify-content: center;
          span {
            font-size: 10px;
            padding-left: 5px;
          }
        }
      }
    }

    .property_outer_main {
      .card_first_property {
        .facilities_info_list {
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0.5rem;
          // margin-bottom: 1rem;
        }
      }
      .card_first_description {
        .describ_product {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .title_for_product {
    // font-size: 15px;
    margin-bottom: 10px;
    padding-bottom: 6px;
  }

  .property_outer_main {
    .card_first_property {
      .property_size {
        li {
          padding: 0;
          width: 100%;
          margin-bottom: 10px;
          .mantine-List-itemLabel {
            strong {
              font-size: 12px;
              margin-right: 6px;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .agent_overview {
    text {
      font-size: 15px;
    }
  }
}
