

.content_terms_space{
    padding: 2rem 0 1rem 0;
}

.innner_heading_text {
    text-align: center;
    width: 100%;
    background-color: #F30051;
    height: 150px;

margin-bottom: 10px;
    .mantine-Container-root{
        position: relative;
        margin-bottom: 3rem;
        padding: 0;

        h1{
            font-size: 52px;
            font-weight: 700;
            color: #fff;
            margin: 0;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            display: grid;
            place-items: center;
            padding-top: 31px;
        }   
    }
}

.list_off_terms{
    .mantine-Container-root{
        max-width: 70%;
        margin: auto;
    }
    h3{
        font-size: 18px;
        font-weight: 600;
        color: #181A20;
        margin-bottom: 10px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        color: #000;
        margin-bottom: 32px;
    }
    h6{
        font-size: 16px;
        font-weight: 400;
        color: #000;
        margin:auto;
        text-align: center;
        max-width: 60%;
        padding: 2rem 0 0 0;
    }
}


// responsive mobile view css here ---->

@media (max-width:(991px)) {
    .innner_heading_text{
        .mantine-Container-root{
            position: relative;
            margin-bottom: 2rem !important;

            h1{
                font-size: 32px !important;
            }   
        }
    }

    .list_off_terms{
         .mantine-Container-root {
            max-width: 90%;
        }
    }

    .content_terms_space {
        padding: 3rem 0 1rem 0;
    }
}

@media (max-width:(768px)) {
    .innner_heading_text{
        height: 100px;
        .mantine-Container-root{
            position: relative;
            margin-bottom: 2rem !important;

            h1{
                font-size: 24px !important;
            }   
        }
    }

    .list_off_terms{
         .mantine-Container-root {
            max-width: 100%;
        }
    }

    .list_off_terms{
         h3 {
            font-size: 15px;
            margin-bottom: 5px;
        }
         p {
            font-size: 13px;
            font-weight: 400;
            margin-bottom: 15px;
        }

         h6 {
            font-size: 14px;
            max-width: 90%;
            padding: 1rem 0 0 0;
        }
    }
}

@media (max-width:(479px)) {

    .innner_heading_text{
        .mantine-Container-root{
            position: relative;
            margin-bottom: 2rem !important;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            h1{
                font-size: 20px !important;
            }   
        }
    }
 
}