<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


<table width="90%" align="center" border="0" cellspacing="0" cellpadding="0" style="font-family:Arial, Helvetica, sans-serif;">
  <tr>
    <td>
     <table width="100%" border="0" cellspacing="0" cellpadding="15" style="background:#fff; border:#000000 solid 2px;">
      <tr>
        <td colspan="2" style=" text-align:center; padding:20px 0px 40px 0px; font-size:20px; font-weight:600">Payment Voucher</td>
      </tr>
      <tr>
        <td width="70%" style="text-align:center;">
         <img src="logo-pdf.png" width="200" alt="" />
         <h3 style="margin:0px; padding:10px 0px;">Samraddh Bestwin Micro Finance Association </h3>
         <p >Corp. Office: 114-115, Pushp Enclave, Sector -5, Pratap Nagar, Tonk Road Jaipur- 302033 Info.: Phone No.: +91 9829861860 | Web: www.samraddhbestwin.com | Mail Us: info@samraddhbestwin.com</p>
         <div style="padding:15px; border:#000000 solid 1px;"><strong>Authorised Center Name And Code: JHALAWAR(1020)</strong></div>
        </td>
        <td>
         <div class="" style="padding:0 0 0 50px;">
          <p><label>V.No:</label> <span>sdggdfgdfg</span></p>
          <p><label>Date:</label> <span>28/03/2022</span></p>
         </div>
         
         <div style="padding:0 0 0 30px;"> 	
 	
         <table width="100%" border="1" cellspacing="0" cellpadding="10">
          <tr>
            <td>Name:</td>
            <td>NANDU BAI</td>
          </tr>
          <tr>
            <td>Member Id:</td>
            <td>102070100194</td>
          </tr>
          <tr>
            <td>Account No:</td>
            <td>102070700033</td>
          </tr>
        </table>
        </div>
        </td>
      </tr>
    </table>
        <table width="100%" border="1" cellspacing="0" cellpadding="10">
         <thead>
          <tr>
            <td>Amount</td> 	 	 	
            <td>Payment Mode</td>
            <td>Account Head</td>
            <td>Rupees In Words</td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>6673.00</td>
            <td rowspan="3">ONLINE TRANSFER </td>
            <td rowspan="3">RD plan</td>
            <td rowspan="3">Six Thousand Six Hundred And Seventy Three Rupees Only</td>
          </tr>
          <tr>
            <td>0.00</td>
          </tr>
          <tr>
            <td>0.00</td>
          </tr>
          <tr>
            <td>Total: 6673.00</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
         </tbody> 
        </table>
    
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="padding:20px 0 0 0;">
          <tr>
            <td>
             <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border:#000000 solid 1px;">
              <tr>
                <td style="border-bottom:#000000 solid 1px;">Full Signature Of Authorised Person:</td>
                <td style="border-bottom:#000000 solid 1px;">Full Signature Of Cashier:</td>
              </tr>
              <tr>
                <td>Name Of Code Of Authorised Person: </td>
                <td>Name Of Emp Code Of Cashier:</td>
              </tr>
            </table>
            </td>
            <td style="padding:0 0 0 20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="10" style="border:#000000 solid 1px;">
              <tr>
                <td style="border-bottom:#000000 solid 1px;">RevenueStamp:</td>
                <td style="border-bottom:#000000 solid 1px;">fbhdfgfdg</td>
              </tr>
              <tr>
                <td>Full Signature Of Applicant:</td>
                <td>dfgfdgdfg</td>
              </tr>
            </table></td>
          </tr>
        </table>
        </td>
      </tr>
    </table>


</body>
</html>
